<div class="container">
    <!-- <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
    <label>Nom Plat</label>
    <input type="text" class="form-control"  [(ngModel)]="nomPlat" name="nomPlat" class="form-control">
    <button type="submit" (click)="rechercherPlats()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
    </div>
    </form> -->
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Plat  en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
    <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Catégorie</th> </tr>
    </thead>
    <tbody *ngFor="let Plat of plats">
        <tr>
            <td>{{Plat.idPlat}}</td>
            <td>{{Plat.nomPlat}}</td>
            <td>{{Plat.prix}}</td>
            <td>{{Plat.menu?.nomMenu}}</td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>
